# SETS
## A set is an unordered collection data types that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

In [8]:
## Defining any empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [10]:
set_var={"Avengers","IronMan","HitMan"}
print(set_var)

{'HitMan', 'IronMan', 'Avengers'}

In [11]:
## Inbuilt function in sets addition of items in set
set_var.add("Hunk")
print(set_var)

{'Hunk', 'HitMan', 'IronMan', 'Avengers'}

In [12]:
print(type(set_var))

<class 'set'>

In [43]:
## Differnence inbuilt function in SET

set1={"Avangers","IronMan","HitMan"}
set2={"Avangers","IronMan","HitMan","Hunk"}
set1.difference_update(set2)
set1

set()

In [36]:
set1={"Avangers","IronMan","HitMan"}
set2={"Avangers","IronMan","HitMan","Hunk"}
set2.difference(set1)

{'Hunk'}

In [37]:
# Intersection inbuilt function in SET
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
set1.intersection(set2)

{'Avangers', 'HitMan', 'IronMan'}

In [38]:
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
set1.intersection(set2)

{'Avangers', 'HitMan', 'IronMan'}

In [41]:
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
set2.intersection_update(set1)
set2

{'Avangers', 'HitMan', 'IronMan'}

In [44]:
# Union inbuilt function in SET
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
set1.union(set2)

{'Avangers', 'HitMan', 'Hunk', 'IronMan'}

In [48]:
# Remove inbuilt function in SET
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
set2.remove('Hunk')
set2

{'Avangers', 'HitMan', 'IronMan'}

In [52]:
# Update inbuilt function in SET
set1={'Avangers','IronMan','HitMan'}
set2={'Avangers','IronMan','HitMan','Hunk'}
result=set1.update(set2)
print(result)

None

# DICTIONARIES
## It is collection which is unordered, Changeable and indexed. To used dictionaries in python we use curly braces { }, and they have keys and values.

In [53]:
dic={}

In [54]:
type(dic)

dict

In [57]:
dic = {1,2,3,4,5,6} #its is a set
type(dic)

set

In [60]:
# Let create a dicitionary
my_dic={"Car1" : "Audi","Car2" : "GMC","Car3" : "BMW"}
print(my_dic)

{'Car1': 'Audi', 'Car2': 'GMC', 'Car3': 'BMW'}

In [63]:
# Indexing in Dictionary can be done by providing key and based on those keys value will be return
my_dic['Car1']

'Audi'

In [64]:
# We can have loop in dictionaries to get keys
for x in my_dic:
    print(x)

Car1
Car2
Car3

In [68]:
# We can have loop in dictionaries to get values for the keys
for x in my_dic.values():
    print(x)

Audi
GMC
BMW

In [70]:
# We can also check both keys and values
for x in my_dic.items():
    print(x)

('Car1', 'Audi')
('Car2', 'GMC')
('Car3', 'BMW')

In [75]:
# We can Add items to out Dictionary
my_dic['Car4'] = 'TOYOTA'
my_dic

{'Car1': 'Audi', 'Car2': 'GMC', 'Car3': 'BMW', 'Car4': 'TOYOTA'}

In [76]:
# Nested Dictionary
car1_model={'Audi':1999}
car2_model={'GMC':2001}
car3_model={'BMW':2006}
car4_model={'TOYOTA':2017}
car_type={'Car1':car1_model,'Car2':car2_model,'Car3':car3_model,'Car4':car4_model,}
car_type

{'Car1': {'Audi': 1999},
 'Car2': {'GMC': 2001},
 'Car3': {'BMW': 2006},
 'Car4': {'TOYOTA': 2017}}

In [77]:
# Accessing items in the multi Dictionary
print(car_type['Car1'])

{'Audi': 1999}

In [78]:
print(car_type['Car1']['Audi'])

1999

In [89]:
my_dic.get('Car1')

'Audi'

# TUPLE
## Its not changeable

In [81]:
my_tuple=tuple()

In [82]:
type(my_tuple)

tuple

In [83]:
my_tuple = ('Khan','Saleem','Rahmath')
my_tuple

('Khan', 'Saleem', 'Rahmath')

In [84]:
my_tuple[0]

'Khan'

In [86]:
my_tuple.count('Khan')

1

In [87]:
my_tuple.index('Khan')

0